<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">
</head>
<body>
<div class="alert alert-success">
    
<div class="container">
    <h5>Añadir/Editar</h5>
    <form action="#" th:action="@{/addEdit}" method="post" th:object="${movie}">
        Nombre:<br/>
        <input type="text" class="form-control" id="title" th:field="*{title}" placeholder="Nombre"/>
        <br/>
        Edad:<br/>
        <input type="text" class="form-control" id="releaseYear" th:field="*{releaseYear}" placeholder="Edad"/>
        <br/>
        Condición:<br/>
        <input type="text" class="form-control" id="tags" th:field="*{tags}"  placeholder="Condicion"/>
        <br/>
        Provincia:<br/>
        <input type="text" class="form-control" id="language" th:field="*{language}" placeholder="Provincia"/>
        <br/>
        Dirección:<br/>
        <input type="text" class="form-control" id="country" th:field="*{country}" placeholder="Direccion"/>
        <input type="hidden" id="id" th:field="*{id}">
        <br/>
        <button type="submit" class="btn btn-info">Aceptar</button>
    </form>
</div>
</body>
</html>