<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ATISAVI</title>
    <meta charset="UTF-8"> 
    <link th:href="@{/atisavi.css}" rel="stylesheet" />
</head>
	<body>
		<div id ="contenedor">
			<div id ="cabecera">
				<p id="demotext">ATISAVI</p>
			</div>
			<div id ="menu">
	<ul id=”button2”>
 <li><a th:href="@{list}"><p id="inicio1">Inicio</p></a></li>
 <li><a th:href="@{list}"><p id="menu1">Producto</p></a></li>
 <li><a th:href="@{list}"><p id="ingresa1">Registrate</p></a></li>
 <li><a th:href="@{list}"><p id="registro1">Ingresa</p></a></li>
 <li><a th:href="@{list}"><p id="quien1">Quienes somos</p></a></li>
 
 
 </ul>
			</div>
			<div id ="izquierda">
				
  
			</div>
			<div id ="derecha">
				
			</div>


			
			<div id ="pie">
  	
  	<p>Lima, Peru. 2020</p></div>
		</div>
	</body>
			



</html>
